
bin/Debug/FftSharp.dll
bin/Debug/ScottPlot.dll
bin/Debug/ScottPlot.WinForms.dll
bin/Debug/SerialSpectrogramTool.exe
bin/Debug/SerialSpectrogramTool.exe.config
bin/Debug/SerialSpectrogramTool.pdb
bin/Debug/Spectrogram.dll
bin/Debug/System.Drawing.Common.dll
bin/Trial/FftSharp.dll
bin/Trial/ScottPlot.dll
bin/Trial/ScottPlot.WinForms.dll
bin/Trial/SerialSpectrogramTool.exe
bin/Trial/SerialSpectrogramTool.exe.config
bin/Trial/SerialSpectrogramTool.pdb
bin/Trial/Spectrogram.dll
bin/Trial/System.Drawing.Common.dll
obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
obj/Debug/DesignTimeResolveAssemblyReferences.cache
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/SerialSpectrogramTool.csproj.CopyComplete
obj/Debug/SerialSpectrogramTool.csproj.CoreCompileInputs.cache
obj/Debug/SerialSpectrogramTool.csproj.FileListAbsolute.txt
obj/Debug/SerialSpectrogramTool.csproj.GenerateResource.cache
obj/Debug/SerialSpectrogramTool.csprojAssemblyReference.cache
obj/Debug/SerialSpectrogramTool.exe
obj/Debug/SerialSpectrogramTool.MainForm.resources
obj/Debug/SerialSpectrogramTool.pdb
obj/Debug/SerialSpectrogramTool.Properties.Resources.resources
obj/Release/.NETFramework,Version=v4.8.AssemblyAttributes.cs
obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
obj/Trial/.NETFramework,Version=v4.8.AssemblyAttributes.cs
obj/Trial/DesignTimeResolveAssemblyReferencesInput.cache
obj/Trial/SerialSpectrogramTool.csproj.CopyComplete
obj/Trial/SerialSpectrogramTool.csproj.CoreCompileInputs.cache
obj/Trial/SerialSpectrogramTool.csproj.FileListAbsolute.txt
obj/Trial/SerialSpectrogramTool.csproj.GenerateResource.cache
obj/Trial/SerialSpectrogramTool.csprojAssemblyReference.cache
obj/Trial/SerialSpectrogramTool.exe
obj/Trial/SerialSpectrogramTool.MainForm.resources
obj/Trial/SerialSpectrogramTool.pdb
obj/Trial/SerialSpectrogramTool.Properties.Resources.resources
packages/FftSharp.1.0.8/.signature.p7s
packages/FftSharp.1.0.8/FftSharp.1.0.8.nupkg
packages/FftSharp.1.0.8/icon.png
packages/FftSharp.1.0.8/lib/netstandard2.0/FftSharp.dll
packages/ScottPlot.4.0.42/.signature.p7s
packages/ScottPlot.4.0.42/icon.ico
packages/ScottPlot.4.0.42/icon.png
packages/ScottPlot.4.0.42/lib/netstandard2.0/ScottPlot.dll
packages/ScottPlot.4.0.42/ScottPlot.4.0.42.nupkg
packages/ScottPlot.WinForms.4.0.42/.signature.p7s
packages/ScottPlot.WinForms.4.0.42/icon.ico
packages/ScottPlot.WinForms.4.0.42/icon.png
packages/ScottPlot.WinForms.4.0.42/lib/net461/ScottPlot.WinForms.dll
packages/ScottPlot.WinForms.4.0.42/lib/net472/ScottPlot.WinForms.dll
packages/ScottPlot.WinForms.4.0.42/lib/netcoreapp3.0/ScottPlot.WinForms.dll
packages/Spectrogram.1.2.6/.signature.p7s
packages/Spectrogram.1.2.6/icon.png
packages/Spectrogram.1.2.6/lib/netstandard2.0/Spectrogram.dll
packages/Spectrogram.1.2.6/Spectrogram.1.2.6.nupkg
packages/System.Drawing.Common.5.0.0-rc.2.20475.5/.signature.p7s
packages/System.Drawing.Common.5.0.0-rc.2.20475.5/Icon.png
packages/System.Drawing.Common.5.0.0-rc.2.20475.5/lib/MonoAndroid10/_._
packages/System.Drawing.Common.5.0.0-rc.2.20475.5/lib/MonoTouch10/_._
packages/System.Drawing.Common.5.0.0-rc.2.20475.5/lib/net461/System.Drawing.Common.dll
packages/System.Drawing.Common.5.0.0-rc.2.20475.5/lib/netcoreapp3.0/System.Drawing.Common.dll
packages/System.Drawing.Common.5.0.0-rc.2.20475.5/lib/netcoreapp3.0/System.Drawing.Common.xml
packages/System.Drawing.Common.5.0.0-rc.2.20475.5/lib/netstandard2.0/System.Drawing.Common.dll
packages/System.Drawing.Common.5.0.0-rc.2.20475.5/lib/xamarinios10/_._
packages/System.Drawing.Common.5.0.0-rc.2.20475.5/lib/xamarinmac20/_._
packages/System.Drawing.Common.5.0.0-rc.2.20475.5/lib/xamarintvos10/_._
packages/System.Drawing.Common.5.0.0-rc.2.20475.5/lib/xamarinwatchos10/_._
packages/System.Drawing.Common.5.0.0-rc.2.20475.5/LICENSE.TXT
packages/System.Drawing.Common.5.0.0-rc.2.20475.5/ref/MonoAndroid10/_._
packages/System.Drawing.Common.5.0.0-rc.2.20475.5/ref/MonoTouch10/_._
packages/System.Drawing.Common.5.0.0-rc.2.20475.5/ref/net461/System.Drawing.Common.dll
packages/System.Drawing.Common.5.0.0-rc.2.20475.5/ref/netcoreapp3.0/System.Drawing.Common.dll
packages/System.Drawing.Common.5.0.0-rc.2.20475.5/ref/netcoreapp3.0/System.Drawing.Common.xml
packages/System.Drawing.Common.5.0.0-rc.2.20475.5/ref/netstandard2.0/System.Drawing.Common.dll
packages/System.Drawing.Common.5.0.0-rc.2.20475.5/ref/xamarinios10/_._
packages/System.Drawing.Common.5.0.0-rc.2.20475.5/ref/xamarinmac20/_._
packages/System.Drawing.Common.5.0.0-rc.2.20475.5/ref/xamarintvos10/_._
packages/System.Drawing.Common.5.0.0-rc.2.20475.5/ref/xamarinwatchos10/_._
packages/System.Drawing.Common.5.0.0-rc.2.20475.5/runtimes/unix/lib/netcoreapp2.0/System.Drawing.Common.dll
packages/System.Drawing.Common.5.0.0-rc.2.20475.5/runtimes/unix/lib/netcoreapp3.0/System.Drawing.Common.dll
packages/System.Drawing.Common.5.0.0-rc.2.20475.5/runtimes/unix/lib/netcoreapp3.0/System.Drawing.Common.xml
packages/System.Drawing.Common.5.0.0-rc.2.20475.5/runtimes/win/lib/netcoreapp2.0/System.Drawing.Common.dll
packages/System.Drawing.Common.5.0.0-rc.2.20475.5/runtimes/win/lib/netcoreapp3.0/System.Drawing.Common.dll
packages/System.Drawing.Common.5.0.0-rc.2.20475.5/runtimes/win/lib/netcoreapp3.0/System.Drawing.Common.xml
packages/System.Drawing.Common.5.0.0-rc.2.20475.5/System.Drawing.Common.5.0.0-rc.2.20475.5.nupkg
packages/System.Drawing.Common.5.0.0-rc.2.20475.5/THIRD-PARTY-NOTICES.TXT
packages/System.Drawing.Common.5.0.0-rc.2.20475.5/useSharedDesignerContext.txt
packages/System.Drawing.Common.5.0.0-rc.2.20475.5/version.txt
packages/ScottPlot.WinForms.4.0.42/ScottPlot.WinForms.4.0.42.nupkg
